<div class="row align-items-center justify-content-center vh-100">

    <h4 class="text-center mt-4"><strong>INSTBMV - <img src="favicon.ico" style="margin-bottom:4px"> POKEDEX
            2024</strong> <img src="favicon.ico" style="margin-bottom:4px"></h4>

    <div class="col col-12 col-md-12 col-sm-12 col-lg-7">

        <div class="card m-5" style="border: none;">
            <img src="/img/pokemon.gif" class="img-fluid">
            <a class="btn btn-success" href="/login">JUGAR</a>
        </div>

    </div>

    <div class="col col-12 col-md-12 col-sm-12 col-lg-5 text-center">

        <div class="card border border-dark m-5">

            <img src="{{qr}}" class="img-fluid">
            <h5 class="text-center"><b>¡ESCANEAME PARA JUGAR!</b></h5>

            <div class="card-footer mt-3">
                <a class="btn btn-primary" href="/resultados">VER RESULTADOS</a>
            </div>

        </div>

    </div>

</div>