<div class="row align-items-center justify-content-center vh-100">

    <span class="mt-2"><a type="button" href="/" class="btn btn-success"><i class="fas fa-chevron-left"></i>
            volver</a></span>

    <h4 class="text-center mt-4"><strong>INSTBMV - <img src="favicon.ico" style="margin-bottom:4px"> POKEDEX
            2024</strong> <img src="favicon.ico" style="margin-bottom:4px"></h4>

    <div class="col col-12 col-md-12 col-sm-12 col-lg-7">

        <div class="card m-5" style="border: none;">
            <img src="/img/pokemon.gif" class="img-fluid">
        </div>

    </div>

    <div class="col col-12 col-md-12 col-sm-12 col-lg-5 text-center">

        <div class="card p-3" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">

            <h4 class="text-center"><b>Ingreso al Juego</b></h4>

            <div class="card-body">

                <form class="row g-3" method="POST">

                    <div class="col-md-12">
                        <input type="text" class="form-control fs-5" name="nombre" placeholder="Nombre" required>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block fs-4" type="submit">Ingresar</button>
                    </div>

                </form>

            </div>

        </div>

        <p class="pt-3 text-center"><b><a href="https://www.instagram.com/institutobmv_ec/"
                    style="text-decoration: none;">@institutobmv_ec</a></b></p>

    </div>

</div>