<link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>


<div class="row align-items-center justify-content-center mb-2">

    <span class="mt-2"><a type="button" href="/login" class="btn btn-success"><i
                class="fas fa-chevron-left"></i>volver</a></span>

    <h4 class="text-center mt-4"> <strong> INSTBMV - <img src="favicon.ico" style="margin-bottom:4px"> POKEDEX
            2024</strong> <img src="favicon.ico" style="margin-bottom:4px"></h4>

    <div class="col col-12 col-md-12 col-sm-12 col-lg-12">

        <div class="card mt-3">

            <h4 class="text-center mt-3"><strong>PUNTUACIONES</strong></h4>

            <div class="card-body">
                <div class="table-responsive" style="margin-top: auto;">
                    <table id="table_puntajes" width="100%" cellspacing="0" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">id</th>
                                <th class="text-center" scope="col">Rol</th>
                                <th class="text-center" scope="col">Nombre</th>
                                <th class="text-center" scope="col">Puntaje</th>
                                <th class="text-center" scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="/js/resultados.js"></script>